@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400px;
  font-size: 14px;
}
.h1 { 
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 32px;
}
.p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.welcomescreen { 
    background: url(../assets/welcome.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.btn-welcome {
    background-color: #ff8300;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    width: 300px;
}
.failmessage {
  color: red;
}
.shadow {
  box-shadow: 5px 5px 5px grey;
}
.posts {
  width: 800px;
}
.create-post {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
  padding-top: -20px;
}
.nav-main {
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid orange;
  height: 75px;
}
.welcome-session {
  text-align: right;
}
.acc_snippet {
  width: 50%;
}
.footer-custom {
  border-top: 2px solid orange;
}
.page-footer {
  padding-top: 200px;
}
.table {
  margin-left: auto;
  margin-right: auto;
}
.flagged_post {
  text-align: center;
  background-color: black;
  color: white;
  border-bottom: 2px solid orange;
  height: auto;
  width: auto;
}
.report_button {
  background-color: blanchedalmond;
  border: 1px solid black;
  color: black;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}
.post_username {
  text-align: center;
  color: black;
  font-size: 24px;
}
.login_links {
  margin-top: 200px;
}
input[type=submit] {
  background-color: #ff8300;
  border: none;
  width: auto;
  height: auto;
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 10px;
}
button[type=submit] {
  background-color: #ff8300;
  border: none;
  width: auto;
  height: auto;
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 10px;
  color: black;
}
button[type=button] {
  background-color: #ff8300;
  border: none;
  width: auto;
  height: auto;
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 10px;
  color: black;
}