@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400px;
  font-size: 14px;
}
.h1 { 
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 32px;
}
.p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.welcomescreen { 
    background: url(../assets/welcome.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.failmessage {
  color: red;
}
.shadow {
  box-shadow: 5px 5px 5px grey;
}
.posts {
  width: 45%;
  border-radius: 12px;
}
.create-post {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
  padding-top: -20px;
}
.nav-main {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #ff8300;
  height: 75px;
}
.welcome-session {
  text-align: right;
}
.acc_snippet {
  width: 50%;
  height: 50%;
  text-align: left;
}
.footer-custom {
  border-top: 2px solid orange;
}
.page-footer {
  padding-top: 200px;
}
.table {
  margin-left: auto;
  margin-right: auto;
}
.flagged_post {
  text-align: center;
  background-color: #ffcf9b;
  border-radius: 8px;
  height: auto;
  width: auto;
  font-weight: bold;
  font-size: 14px;
}
.report_button {
  background-color: #ff8300;
  border: 1px solid black;
  color: black;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}
.post_username {
  color: black;
  font-size: 32px;
  vertical-align: middle;
  width: 45%;
  border-radius: 12px;
}
.login_links {
  margin-top: 200px;
}
input[type=submit] {
  background-color: #ff8300;
  border: 1px solid #ff8300;
  width: auto;
  height: auto;
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 10px;
}
input[type=submit]:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid #ff8300;
  width: auto;
  height: auto;
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 10px;
  color: black;
}
button[type=submit] {
  background-color: #ff8300;
  border: 1px solid #ff8300;
  width: auto;
  height: auto;
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 10px;
  color: black;
}
button[type=submit]:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid #ff8300;
  width: auto;
  height: auto;
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 10px;
  color: black;
}
button[type=button] {
  border: 1px solid #ff8300;
  width: auto;
  height: auto;
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 10px;
  color: black;
}
button[type=button]:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid #ff8300;
  width: auto;
  height: auto;
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 10px;
  color: black;
}
input[type=text] {
  border-radius: 4px;
  border: 1px solid rgb(58, 58, 58);
  padding: 8px 16px;
}
input[type=email] {
  border-radius: 4px;
  border: 1px solid rgb(58, 58, 58);
  padding: 8px 16px;
}
input[type=password] {
  border-radius: 4px;
  border: 1px solid rgb(58, 58, 58);
  padding: 8px 16px;
}
textarea {
  border-radius: 4px;
  border: 1px solid rgb(58, 58, 58);
  padding: 4px 8px;
}
.btn-welcome {
  background-color: #ff8300;
  border: 1px solid #ff8300;
  font-size: 30px;
  text-align: center;
  width: 300px;
  border: none;
  color: black;
}
.btn-welcome:hover {
  background-color: #ffffff;
  border: 1px solid #ff8300;
  font-size: 30px;
  text-align: center;
  width: 300px;
  border: none;
  color: black;
}
.post_search {
  margin-left: auto;
  margin-right: auto;
}
.modal-msg {
  border-radius: 4px;
  border: 1px solid rgb(58, 58, 58);
  padding: 4px 8px;
}
.navbar {
  background-color: rgb(240, 240, 240);
}
.post_display {
  border: 1px solid rgba(0, 0, 0, 0.349);
}
.padding_posts {
padding-top: 20px;
}
.post_title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.acc_blacklist {
  width: 80%;
  font-weight: bold;
  font-size: 14px;
}
.blacklist_msg {
  background-color: rgb(250, 215, 215);
  border-radius: 8px;
  padding-bottom: 2px;
  padding-top: 5px;
}
.resources {
  padding: 8px;
  color: darkblue;
  font-size: 16px;
}