.welcomescreen { 
    background: url(../assets/welcome.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.btn-welcome {
    background-color: blanchedalmond;
    color: black;
    font-size: 25px;
    text-align: center;
    width: 300px;
}
.failmessage {
  color: red;
}
.shadow {
  box-shadow: 5px 5px 5px grey;
}
.posts {
  width: 800px;
}
.create-post {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
  padding-top: -20px;
}
.nav-main {
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid orange;
  height: 75px;
}
.welcome-session {
  text-align: right;
}
.acc_snippet {
  width: 50%;
}