{% include "layout.html" %}
{% include "nav.html" %}
{% block content %}{% endblock %}

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <a class="admin_link" href="{{ url_for('admin_user') }}">User Database</a>
                <a class="admin_link" href="{{ url_for('admin_posts') }}">Post Database</a>
                <a class="admin_link" href="{{ url_for('admin_reports') }}">Report System</a>
            </div>
        </div>
    </div>
</body>





