{% include "layout.html" %}
{% include "nav.html" %}
{% block content %}{% endblock %}

<body>
{% if type == 'posted' %}
<script>
toastr.success('Success', 'Post Created'); 
</script> 
{% endif %}
<div class="row h-500 acc_snippet">
  <div class="col-4 shadow p-3 mb-5 rounded">
      <b>Display name:</b> {{ user.username }}<br>
      <b>User e-mail:</b> {{ user.email }}<br>
      <b>Total posts:</b>

  </div>
</div>
<div class="container-fluid create-post">
  <div class="row h-500">
    <div class="col">
      <h2>{{session.username}}</h2>
      <form action="{{ url_for('post_submit') }}" method="POST" id="post_form">
        <input type="text" placeholder="Title" name="title" style="width: 500px" required/><br>
        <textarea placeholder="Post content" form="post_form" name="content" style="height: 100px; width: 500px" required></textarea>
        <br/>
        <input type="submit" value="Submit Post" />
      </form>
</div>
</div>
</div>
    {% for post in posts %}
    <div class="shadow mx-auto posts p-3 mb-5 rounded">
    <p align="right">{{  post.created_at  }}</p>
    <h4>{{ post.by_user }}</h4>
    <h5>{{ post.title }}</h5>
    {{ post.content }}<br/>
    </div>
    <br/>
    {% endfor %}
</div>
</div>
</body>
















</body>