{% include "admin.html" %}
{% block content %}{% endblock %}
{% if type == 'deleted' %}
<script>
toastr.success('Post deleted.', 'Success!'); 
</script> 
{% endif %}

<div class="container-fluid col">
    <table class="table">
        <tr>
            <td>ID</td>
            <td>Content</td>
            <td>Author</td>
            <td>Date</td>
            <td>Delete post</td>
        </tr>
        <tr>
            {% for post in post_table %}
            <td>{{post.ID}}</td>
            <td>{{post.content}}</td>
            <td>{{post.by_user}}</td>
            <td>{{post.created_at}}</td>
            <td><form action="{{ url_for('delete_post') }}" method="POST">
            <input type="hidden" name="post_id" value="{{ post.ID }}">
            <button type="submit">Delete</button>
            </form></tr>
            {% endfor %}
        </tr>
        </table>
    </div>