{% include "layout.html" %}
{% include "nav.html" %}
{% block content %}{% endblock %}

<center><h2>Search Results: {{posts}}</h2></center>

<div class="container-fluid">
    <div class="row h-500">
    </div>
    {% for post in post_search %}
    <div class="mx-auto posts p-3 mb-5 rounded post_display">
      {% if post.blacklisted == "yes" %}
      <h5>The following account has committed repeated violations.</h5>
      {% endif %}
      {% if post.flag_covid == "yes" %}
      <div class="flagged_post">
        <h5>The following post might contain misleading information about the COVID-19 pandemic. Please refer to our resources for more information.</h5>
        <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">NHS - Coronavirus </a><br>
        <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">CDC - Coronavirus</a>
      </div>
      {% endif %}
      {% if post.flag_vaccine == "yes" %}
      <div class="flagged_post">
        <h5>The following post might contain misleading information about the COVID-19 vaccines. Please refer to our resources for more information.</h5>
        <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">NHS - Coronavirus </a><br>
        <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">CDC - Coronavirus</a>
      </div>
      {% endif %}
      {% if post.flag_cures == "yes" %}
      <div class="flagged_post">
        <h5>The following post might contain misleading information about the COVID-19 cures. Please refer to our resources for more information.</h5>
        <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">NHS - Coronavirus </a><br>
        <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">CDC - Coronavirus</a>
      </div>
      {% endif %}
      {% if post.flag_tests == "yes" %}
      <div class="flagged_post">
        <h5>The following post might contain misleading information about the COVID-19 testing. Please refer to our resources for more information.</h5>
        <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">NHS - Coronavirus </a><br>
        <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">CDC - Coronavirus</a>
      </div>
      {% endif %}
        {% if post.flagged == "yes" %}
        <div class="flagged_post">
          <h5>The following post might contain misleading information about the COVID-19 pandemic. Please refer to our resources for more information.</h5>
          <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">NHS - Coronavirus </a><br>
          <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">CDC - Coronavirus</a>
        </div>
        {% endif %}
    <h4 class="post_username">{{ post.by_user }}</h4>
    <h5 class="post_title">{{ post.title }}</h5>
    {{ post.content }}<br/>
    </div>
    <br/>
    {% endfor %}
</div>