{% include "admin.html" %}
{% block content %}{% endblock %}

<div class="container-fluid col">
    <table class="table">
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Content</td>
            <td>Author</td>
            <td>Date</td>
            <td>Delete</td>
        </tr>
        <tr>
            {% for post in post_table %}
            <td>{{post.ID}}</td>
            <td>{{post.title}}</td>
            <td>{{post.content}}</td>
            <td>{{post.by_user}}</td>
            <td>{{post.created_at}}</td>
            <td><button type="button" onClick="{{url_for}}">Delete</td></tr>
            {% endfor %}
        </tr>
        </table>
    </div>