{% include "layout.html" %}
{% include "nav.html" %}
{% block content %}{% endblock %}

<div class="row h-500 acc_snippet">
  <div class="col-4 shadow p-3 mb-5 rounded">
      <b>Display name:</b> {{ user.username }}<br>
      <b>User e-mail:</b> {{ user.email }}<br>
      <b>Total posts:</b> {{ post_count }} <br>
      {% if user.whitelisted == "yes" %}
      <b>Your account is whitelisted!</b>
      {% endif %}
      {% if user.blacklisted == "yes" %}
      <b>Your account is blacklisted!</b>
      {% endif %}
      {% if user.user_type == "admin" %}
      <b>You have admin privileges.</b>
      {% endif %}
  </div>
</div>
<div class="container-fluid">
  {% for post in user_posts %}
  <div class="mx-auto post_username p-3">
    <img src="../static/assets/default_icon.png" style="width:45px"><a class="post_username" href="{{ url_for('user_profile', username=post.by_user) }}">
      {{ post.by_user }}
    </a>
  </div>
  <div class="mx-auto posts p-3 mb-5 post_display">
  {% if post.blacklisted == "yes" %}
  <center>
    <div class="blacklist_msg">
    <img src="../static/assets/red-alert-icon.png" style="width:30px">
    <h5 class="acc_blacklist">The following account has been found to be posting malicious posts repeatedly.</h5>
    </div>
  </center>
  {% endif %}
  {% if post.flag_covid == "yes" %}
  <div class="flagged_post">
    <h5 class="flagged_post">The following post might contain misleading information about the COVID-19 pandemic. Please refer to our resources for more information.</h5>
    <a class="resources" href="https://www.nhs.uk/conditions/coronavirus-covid-19/">NHS</a>
    <a class="resources" href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">CDC</a>
  </div>
  {% endif %}
  {% if post.flag_vaccine == "yes" %}
  <div class="flagged_post">
    <h5 class="flagged_post">The following post might contain misleading information about the COVID-19 vaccines. Please refer to our resources for more information.</h5>
    <a class="resources" href="https://www.nhs.uk/conditions/coronavirus-covid-19/">NHS</a>
    <a class="resources" href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">CDC</a>
  </div>
  {% endif %}
  {% if post.flag_cures == "yes" %}
  <div class="flagged_post">
    <h5 class="flagged_post">The following post might contain misleading information about the COVID-19 cures. Please refer to our resources for more information.</h5>
    <a class="resources" href="https://www.nhs.uk/conditions/coronavirus-covid-19/">NHS</a>
    <a class="resources" href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">CDC</a>
  </div>
  {% endif %}
  {% if post.flag_tests == "yes" %}
  <div class="flagged_post">
    <h5 class="flagged_post">The following post might contain misleading information about the COVID-19 testing. Please refer to our resources for more information.</h5>
    <a class="resources" href="https://www.nhs.uk/conditions/coronavirus-covid-19/">NHS</a>
    <a class="resources" href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">CDC</a>
  </div>
  {% endif %}
  <br>
  <h5>{{ post.content }}</h5>
  {% endfor %}
</div>