{% include "layout.html" %}
{% include "nav.html" %}
{% block content %}{% endblock %}

<div class="container-fluid">
    <div class="row h-500">
        <div class="col-4 shadow p-3 mb-5 rounded">
            <b>Display name:</b> {{ user.username }}<br>
            <b>User e-mail:</b> {{ user.email }}
        </div>
    </div>
    {% for user_post in user_posts %}
    <div class="shadow mx-auto posts p-3 mb-5 rounded">
    {% if user_post.flagged == "yes" %}
    <h1>FLAGGED</h1>
    {% endif %}
    <p align="right">{{  user_post.created_at  }}</p>
    <h4>{{ user_post.by_user }}</h4>
    <h5>{{ user_post.title }}</h5>
    {{ user_post.content }}<br/>
    </div>
    <br/>
    {% endfor %}
</div>

{% include "footer.html" %}