{% include "admin.html" %}
{% block content %}{% endblock %}
{% if type == 'reviewed' %}
<script>
toastr.success('Report reviewed & post updated.', 'Success!'); 
</script> 
{% endif %}

<center><h2>Reported Posts</h2></center>
<div class="container-fluid col">
    <table class="table">
        <tr>
            <td>ID</td>
            <td>Content</td>
            <td>Author</td>
            <td>Date</td>
            <td>Report Message</td>
            <td>Flag Post</td>
            <td>Discard Report</td>
        </tr>
        <tr>
            {% for post in report_table %}
            <td>{{post.ID}}</td>
            <td>{{post.content}}</td>
            <td>{{post.by_user}}</td>
            <td>{{post.created_at}}</td>
            <td>{{post.report_message}}</td>
            <td><button type="button" data-toggle="modal" data-target="#editModal{{post.ID}}">Flag</button></td>
            <td><form action="{{ url_for('discard_report') }}" method="POST">
                <input type="hidden" name="post_ID" value="{{ post.ID }}">
                <button type="submit">Discard</button>
                </form></tr>
  <!-- Flag Post Modal -->
  <div class="modal fade" id="editModal{{post.ID}}" tabindex="-1" role="dialog" aria-labelledby="editModal{{post.ID}}Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModal{{ post.ID }}Label">Flag Post</h5>
          <button class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action="{{ url_for('report_review', post_id=post.ID) }}">
          <input type="hidden" name="post_id" value="{{ post.ID }}">
          <div class="modal-body">
            <div class="form-group">
              <label for="flag_covid">Coronavirus Flag</label><br>
              <select id="flag_covid" name="flag_covid">
                <option value="no">No</option>
                <option value="yes"{% if post.flag_covid == "yes" %} selected {% endif %}>Yes</option>
              </select>
            </div>
            <div class="form-group">
                <label for="flag_vaccine">Vaccine Flag</label><br>
                <select id="flag_vaccine" name="flag_vaccine">
                  <option value="no">No</option>
                  <option value="yes"{% if post.flag_vaccine == "yes" %} selected {% endif %}>Yes</option>
                </select>
              </div>
              <div class="form-group">
                <label for="flag_cures">Cures Flag</label><br>
                <select id="flag_cures" name="flag_cures">
                  <option value="no">No</option>
                  <option value="yes"{% if post.flag_cures == "yes" %} selected {% endif %}>Yes</option>
                </select>
              </div>
              <div class="form-group">
                <label for="flag_tests">Tests Flag</label><br>
                <select id="flag_tests" name="flag_tests">
                  <option value="no">No</option>
                  <option value="yes"{% if post.flag_tests == "yes" %} selected {% endif %}>Yes</option>
                </select>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
            {% endfor %}
        </table>
    </div>