{% include "layout.html" %}
{% include "nav.html" %}
{% block content %}{% endblock %}

<center>
  <div class="user_profile">
  <h1 class="profile_header">USER PROFILE</h1>
  {% if user.blacklisted == "yes" %}
  <div class="user_warning">
  <img src="../static/assets/red-alert-icon.png" style="width: 30px">
  <h5 style="font-weight: bold">THE FOLLOWING ACCOUNT HAS BEEN BLACKLISTED FOR REPEATED MISINFORMATION.</h5>
  </div>
  {% endif %}
  {% if user.whitelisted == "yes" %}
  <div class="user_trusted">
  <img src="../static/assets/success-green-check-mark-icon.png" style="width: 30px">
  <h5 style="font-weight: bold">THE FOLLOWING ACCOUNT HAS BEEN VERIFIED AS A TRUSTED SOURCE OF INFORMATION.</h5>
  </div>
  {% endif %}
  <h1>{{ user.username }}</h1>
  </div>
</center>
<div class="container-fluid">
    <div class="row h-500">
    </div>
    {% for post in user_posts %}
    <div class="mx-auto post_username p-3">
      <img src="../static/assets/default_icon.png" style="width:45px"><a class="post_username" href="{{ url_for('user_profile', username=post.by_user) }}">
        {{ post.by_user }}
      </a>
    </div>
    <div class="mx-auto posts p-3 mb-5 post_display">
    {% if post.flag_covid == "yes" %}
    <div class="flagged_post">
      <h5 class="flagged_post">The following post might contain misleading information about the COVID-19 pandemic. Please refer to our resources for more information.</h5>
      <a class="resources" href="https://www.nhs.uk/conditions/coronavirus-covid-19/">NHS</a>
      <a class="resources" href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">CDC</a>
      <a class="resources" href="https://www.hopkinsmedicine.org/health/conditions-and-diseases/coronavirus/2019-novel-coronavirus-myth-versus-fact">Hopkins Medicine</a>
      <a class="resources" href="https://www.gov.uk/coronavirus">GOV.UK</a>
      <a class="resources" href="https://www.who.int/health-topics/coronavirus">WHO</a>
      <a class="resources" href="https://www.ecdc.europa.eu/en/covid-19/questions-answers/questions-answers-basic-facts">ECDC</a>
    </div>
    {% endif %}
    {% if post.flag_vaccine == "yes" %}
    <div class="flagged_post">
      <h5 class="flagged_post">The following post might contain misleading information about the COVID-19 vaccines. Please refer to our resources for more information.</h5>
      <a class="resources" href="https://www.ema.europa.eu/en/human-regulatory/overview/public-health-threats/coronavirus-disease-covid-19/treatments-vaccines/vaccines-covid-19/covid-19-vaccines-key-facts">EMA</a>
      <a class="resources" href="https://www.mayoclinic.org/diseases-conditions/coronavirus/in-depth/coronavirus-vaccine/art-20484859">Mayo Clinic</a>
      <a class="resources" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/covid-19-vaccines">WHO</a>
      <a class="resources" href="  https://www.nhsinform.scot/covid-19-vaccine">NHS INFORM</a>
    </div>
    {% endif %}
    {% if post.flag_cures == "yes" %}
    <div class="flagged_post">
      <h5 class="flagged_post">The following post might contain misleading information about the COVID-19 cures. Please refer to our resources for more information.</h5>
      <a class="resources" href="https://www.nhs.uk/conditions/covid-19/treatments-for-covid-19/">NHS</a>
      <a class="resources" href="https://www.cdc.gov/coronavirus/2019-ncov/your-health/treatments-for-severe-illness.html">CDC</a>
      <a class="resources" href="https://www.hopkinsmedicine.org/health/conditions-and-diseases/coronavirus/2019-novel-coronavirus-myth-versus-fact">Hopkins Medicine</a>
      <a class="resources" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/myth-busters">WHO</a>
    </div>
    {% endif %}
    {% if post.flag_tests == "yes" %}
    <div class="flagged_post">
      <h5 class="flagged_post">The following post might contain misleading information about the COVID-19 testing. Please refer to our resources for more information.</h5>
      <a class="resources" href="https://www.fda.gov/consumers/consumer-updates/covid-19-test-basics">FDA</a>
      <a class="resources" href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/testing.html">CDC</a>
      <a class="resources" href="https://www.medicaldevice-network.com/features/types-of-covid-19-test-antibody-pcr-antigen/">MDN</a>
      <a class="resources" href="https://www.gov.uk/government/publications/how-tests-and-testing-kits-for-coronavirus-covid-19-work/for-patients-the-public-and-professional-users-a-guide-to-covid-19-tests-and-testing-kits">GOV.UK</a>
      <a class="resources" href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-testing-and-stay-home-advice">NI DIRECT</a>
    </div>
    {% endif %}
    <br>
    <h5>{{ post.content }}</h5>
    <button type="button" class="report_button" data-toggle="modal" data-target="#reportModal{{ post.ID }}">Report</button>
    </div>
    <br/>
    <div class="modal fade" id="reportModal{{ post.ID }}" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel{{ post.ID }}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="reportModalLabel{{ post.ID }}">Report Post</h5>
            <button class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="{{ url_for('post_report', post_ID=post.ID) }}">
              <input type="hidden" name="post_ID" value="{{ post.ID }}">
              <div class="form-group">
                <label for="report_message">Report Message:</label>
                <textarea class="form-control" id="report_message" name="report_message"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>